{{#each article}}
<h1><div class ="centertext"> {{title}}</div> </hi>

<h3>URL: <a href = "{{url}}">{{url}} </a></h3>
<h3> Description: {{description}} </h3>
<h3> Posted by: {{userid}} </h3>

{{/each}}
